<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	  layout:decorator="template">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 
<head>
<meta charset="utf-8">
<title>Ajouter Telephone</title>
</head>
<body>
<div layout:fragment="Mycontent">
<div class="container mt-5" >
<div class="card-body">
 <div class="card-header"><b>
 Ajouter un Telephone</b>
 </div>
 <br>
<form action="saveTelephone" method="post">
 <div class="form-group">
 <label class="control-label">Marque Telephone :</label>
 <input type="text" name="marqueTel" class="form-control"/>
 </div>
 <div class="form-group">
 <label class="control-label">Prix Telephone :</label>
 <input type="text" name="prixTel" class="form-control"/>
 </div>
 <div class="form-group">
 <label class="control-label">date création :</label>
 <input type="date" name="date" class="form-control"/>
 </div>

 <div>
 <button type="submit" class="btn btn-primary">Ajouter</button>
</div>
</form>
</div>
<br/>
 <div th:text="${msg}"></div>
<br/>
</div>
</div>
</body>
</html>